<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<style>
		.left-sidebar{
			background: rgba(209, 209, 209, 0.2);
			height: 600px;
		}

		.main-content{
			background: rgba(0, 0, 0, 0.2);
			height: 600px;
			padding-left: 0;
			padding-right: 0;
		}
	</style>
	<title>Document</title>
</head>
<body>

	<div class="">
		<h2>Site title</h2>

		<div class="row">
			<div class="col-md-3 left-sidebar">
				<ul>
					<li>todo</li>
					<li>todo</li>
					<li>todo</li>
					<li>todo</li>
				</ul>
			</div>

			<div class="col-md-9 main-content">
				<!--
				<ul class="list-group">
				 	<li class="list-group-item">Cras justo odio</li>
				  	<li class="list-group-item">Dapibus ac facilisis in</li>
				  	<li class="list-group-item">Morbi leo risus</li>
				  	<li class="list-group-item">Porta ac consectetur ac</li>
				  	<li class="list-group-item">Vestibulum at eros</li>
				</ul>
				-->

			</div>

		</div>
	</div>


	<script type="text/javascript" src="js/libs/jquery.js"></script>
	<script type="text/javascript" src="js/libs/underscore.js"></script>
	<script type="text/javascript" src="js/libs/backbone.js"></script>
	
	<script src="/js/models/mail.js"></script>
	<script src="/js/collections/mail.js"></script>
	<script src="/js/views/mail.js"></script>

	<script src="/js/main.js"></script>
	
</body>
</html>